DEV_MODE=true

PORT=7002
RPC_HOST=localhost:7030
RPC_TOKEN=""

FRONTEND_URL="http://localhost:7010"0
TICK_RATE=60

STORAGE_PATH=storage
WORLDS_PATH=worlds

CLIENT_CERT=certs/client.crt
CLIENT_KEY=certs/client.key
CA_CERT=certs/ca.crt