DEV_MODE=true

PORT=7002
RPC_HOST=http://localhost:7030
RPC_ID=XXXXXXXXXXXXXXXXXXXXXXXX
RPC_TOKEN=""
RPC_PING_INTERVAL=5000

FRONTEND_URL="http://localhost:7010"
TICK_RATE=60

STORAGE_PATH=storage
WORLDS_PATH=worlds

CLIENT_CERT=certs/client.crt
CLIENT_KEY=certs/client.key
CA_CERT=certs/ca.crt