DEV_MODE=true

PORT=7002
GRPC_HOST=localhost:7030
GRPC_TOKEN="8a87cce815a15a91dfb3e15536e1fbb0bf00ceb905e91677d64a5b7bdc2036af"

FRONTEND_URL=localhost:7010
TICK_RATE=60

STORAGE_PATH=storage
WORLDS_PATH=worlds

CERT_PEM=cert.pem